{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Analytics{% endblock %}
    </title>

    <link rel="apple-touch-icon" href="{% static 'afyaplexus.png' %}">
    <link rel="shortcut icon" href="{% static 'afyaplexus.png' %}">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <style>

        body {
            font-family: 'Inter', sans-serif;
            background: #ffffff;
        }

        .card {
            background: white;
            border-radius: 24px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.06);
            transition: 0.3s;
        }

        .card:hover {
            transform: translateY(-4px);
        }

    </style>

    {% block extra_css %}{% endblock %}

</head>

<body class="text-slate-800">

<div class="flex min-h-screen bg-gray-100">

    <!-- SIDEBAR -->
    <aside class="hidden lg:flex flex-col w-64 bg-white border-r border-gray-200 p-6">

        <h1 class="text-3xl font-extrabold text-blue-600">
            Analytics
        </h1>

        <nav class="mt-10 space-y-3">

            <a href="/"> < Home</a>


              <a href="{% url 'analytics_dashboard' %}"
                 class="{% if request.resolver_match.url_name == 'analytics_dashboard' %}
                          block px-4 py-3 rounded-xl bg-blue-600 text-white font-medium
                        {% else %}
                          block px-4 py-3 rounded-xl hover:bg-gray-100
                        {% endif %}">
                Dashobard
              </a>

              <a href="{% url 'visit_list' %}"
                 class="{% if request.resolver_match.url_name == 'visit_list' %}
                          block px-4 py-3 rounded-xl bg-blue-600 text-white font-medium
                        {% else %}
                          block px-4 py-3 rounded-xl hover:bg-gray-100
                        {% endif %}">
                Visitors
              </a>

              <a href="{% url 'pageview_list' %}"
                 class="{% if request.resolver_match.url_name == 'pageview_list' %}
                          block px-4 py-3 rounded-xl bg-blue-600 text-white font-medium
                        {% else %}
                          block px-4 py-3 rounded-xl hover:bg-gray-100
                        {% endif %}">
                Pages Views
              </a>

              <a href="{% url 'click_event_list' %}"
                 class="{% if request.resolver_match.url_name == 'click_event_list' %}
                          block px-4 py-3 rounded-xl bg-blue-600 text-white font-medium
                        {% else %}
                          block px-4 py-3 rounded-xl hover:bg-gray-100
                        {% endif %}">
                Click Events
              </a>

        </nav>

    </aside>

    <!-- MAIN -->
    <main class="flex-1 p-6 lg:p-10">

        {% block content %}
        {% endblock %}

    </main>

</div>

{% block extra_js %}
{% endblock %}

</body>
</html>