{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Afya Plexus</title>
  <link rel="apple-touch-icon" href="{% static 'afyaplexus.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'afyaplexus.png' %}">


  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="bg-gray-100">

<!-- NAVBAR -->
<header class="bg-white shadow">
  <div class="flex items-center justify-between p-4 lg:px-10">

    <div class="flex items-center gap-3">
      <button id="menuBtn" class="lg:hidden text-2xl">☰</button>
      <h1 class="font-bold text-xl"><a href="{% url 'home_page' %}"> Afya Plexus</a></h1>
    </div>

    <div class="hidden md:flex flex-1 mx-6">
      <input class="w-full p-2 border rounded-l-full" placeholder="Search products...">
      <button class="bg-orange-500 text-white px-4 rounded-r-full">Search</button>
    </div>

    <div class="flex gap-4 text-sm">
      <span>Login</span>
      <span>Register Centre</span>
      <span>Help</span>
      <span>Cart</span>
    </div>
  </div>

  <!-- Mobile Search -->
  <div class="p-3 md:hidden">
    <div class="flex">
      <input class="w-full p-2 border rounded-l-full" placeholder="Search...">
      <button class="bg-orange-500 text-white px-4 rounded-r-full">Go</button>
    </div>
  </div>
</header>

<!-- MAIN -->
<div class="lg:px-10 lg:py-6">

{% block content %}{% endblock %}

</div>

<script src="{% static 'script.js' %}"></script>

</body>
</html>